include LICENSE
include README.rst
include README.md
include VERSION
recursive-include adminlte3 *.py
recursive-include adminlte3/static *
recursive-include adminlte3/templates *
recursive-include adminlte3/templatetags *
recursive-include adminlte3_theme *.py
recursive-include adminlte3_theme/static *
recursive-include adminlte3_theme/templates *
recursive-include adminlte3_theme/templatetags *