{% extends 'adminlte/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead><tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pager.items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a target="_blank" href="{% url 'adminlte.example.pages' page_id=page.id %}">{{ page.title }}</a></td>
                        <td><a href="{% url 'adminlte.example.page.edit' page_id=page.id %}">编辑</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <thead><tr>
                <th>#</th>
                <th>Title</th>
                <th>Url</th>
            </tr>
        </thead>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="card-footer clearfix">
            {% include 'adminlte/lib/_pagination.html' %}
        </div>
    </div>
{% endblock %}
