{% extends 'adminlte/base.html' %}
{% load static i18n %}

{% block extra_head %}
    {{ block.super }}

    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}"/>

    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% endblock %}

{% block nav_header %}
    {% include 'admin/lib/_main_header.html' %}
{% endblock %}

{% block nav_sidebar %}
    {% include 'admin/lib/_main_sidebar.html' %}
{% endblock %}

{% block content_header %}
    {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
            {% if title %} &rsaquo; {{ title }}{% endif %}
        </ol>
    {% endblock %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}{{ title }}{% endif %}{% endblock %}
            <small>Control panel</small>
        </h1>
    </section>
{% endblock %}

{% block content_block_wrap %}
    {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
    {% endblock %}
    {% block sidebar %}{% endblock %}
{% endblock %}



